In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

# Q1

In [2]:
cdf1 = pd.read_csv("lab0801a.csv")
print(cdf1)

         country country code  year
0      Argentina          ARG  2019
1      Australia          AUS  2019
2          India          IND  2019
3         Israel          ISR  2019
4   South Africa          ZAF  2019
5  United States          USA  2019
6        Uruguay          URY  2019

In [3]:
cdf2 = pd.read_csv("lab0801b.csv")
print(cdf2)

         country          POP           GDP
0      Argentina    37335.653  2.950722e+05
1      Australia    19053.186  5.418047e+05
2          India  1006300.297  1.728144e+06
3         Israel     6114.570  1.292539e+05
4         Malawi    11801.505  5.026222e+03
5   South Africa    45064.098  2.272424e+05
6  United States   282171.957  9.898700e+06

In [4]:
frame =[cdf1,cdf2]
result = pd.concat(frame,sort = True)
print(result)

            GDP          POP        country country code    year
0           NaN          NaN      Argentina          ARG  2019.0
1           NaN          NaN      Australia          AUS  2019.0
2           NaN          NaN          India          IND  2019.0
3           NaN          NaN         Israel          ISR  2019.0
4           NaN          NaN   South Africa          ZAF  2019.0
5           NaN          NaN  United States          USA  2019.0
6           NaN          NaN        Uruguay          URY  2019.0
0  2.950722e+05    37335.653      Argentina          NaN     NaN
1  5.418047e+05    19053.186      Australia          NaN     NaN
2  1.728144e+06  1006300.297          India          NaN     NaN
3  1.292539e+05     6114.570         Israel          NaN     NaN
4  5.026222e+03    11801.505         Malawi          NaN     NaN
5  2.272424e+05    45064.098   South Africa          NaN     NaN
6  9.898700e+06   282171.957  United States          NaN     NaN