# Question1

In [1]:
import pandas as pd
import numpy as np
ser = pd.Series(np.random.randint(101,10000,(28))
                , index= pd.Series(np.arange(1,29))
                ,name ="Sales of February")
ser.index.name= "Day"
print(ser)
print(ser.to_dict())
print("12: ",ser[12])
print("24: ",ser[24])

Day
1     4850
2     2811
3     5745
4     5471
5     4494
6     5761
7     1749
8     3084
9     8432
10    5216
11    5112
12    4217
13     989
14    8144
15    6343
16    5388
17    4118
18     287
19    3183
20    6460
21    1555
22    9663
23    9023
24    8186
25    1548
26    3420
27    2293
28    7803
Name: Sales of February, dtype: int64
{1: 4850, 2: 2811, 3: 5745, 4: 5471, 5: 4494, 6: 5761, 7: 1749, 8: 3084, 9: 8432, 10: 5216, 11: 5112, 12: 4217, 13: 989, 14: 8144, 15: 6343, 16: 5388, 17: 4118, 18: 287, 19: 3183, 20: 6460, 21: 1555, 22: 9663, 23: 9023, 24: 8186, 25: 1548, 26: 3420, 27: 2293, 28: 7803}
12:  4217
24:  8186

# Question2

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.array([
        [200,155,189,254,340],
        [152,182,174,230,320],
        [126,169,151,184,210],
        [217,152,160,242,298],
        [176,174,187,176,169]
    ]),
    columns=['Apples','Banans','Cherries','Grapes','Oranges'],
    index=['ParknShop','GateWay','CitySuper','Q Club', '3Hree Sixty'])
print(df.loc["CitySuper","Oranges"])
print(df[df["Apples"]>150]["Apples"])
df["Total"]=df.sum(axis =1)
df.sort_values("Total", inplace= True)

210
ParknShop      200
GateWay        152
Q Club         217
3Hree Sixty    176
Name: Apples, dtype: int64

# Question3

In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv(r'automobile.csv')
print(df.iloc[:7])
print(df.iloc[-7:])
df.index = np.arange(100,100+61)
print(df.columns[df.isnull().any()].tolist())
print(df[df['price'] == max(df["price"])]['company'])
print(sum(df[df["company"]=='toyota']['price']))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
    index     company body-style  wheel-base  length engine-type  \
54     79      toyota      wagon       104.5   187.8        dohc
55     80  volkswagen      sedan        97.3   171.7         ohc
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
54              six         156               19  15750.0
55             four          52               37   7775.0
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0
['price']
135    mercedes-benz
Name: company, dtype: object
57518.0

# Question4

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.random.randn(6,5),
    columns=['A','B','C','D','E'],
    index=pd.date_range(start="01/01/2019",periods = 6)
)
df2 = df.reindex(columns=['A','B','D','F'])
df2['F']= np.random.randint(501,506,6)
ser = df2.stack()

# Question 5

In [8]:
import pandas as pd
import numpy as np

ive = pd.DataFrame(np.array([[25,10,22,18],
                             [30,12,32,11],
                             [28,16,26,12],
                             [35,13,36,16],
                             [29,17,24,12],
                             [33,14,25,14]]),
index=[['DSA','DSA','SE','SE','GSD','GSD'],['1A','1B','1A','1B','1A','1B']],
columns=[['TY','TY','TM','TM'],['M','F','M','F']])
ive.index.names = ['Programme','Class']
ive.columns.names = ['Campus','Gender']
ive = ive.swaplevel('Class','Programme')
ive.sum()

Campus  Gender
TY      M         180
        F          82
TM      M         165
        F          83
dtype: int64