In [2]:
import pandas as pd
import numpy as np

In [3]:
#Q1(a)

  area district candidate  votes
0   HK      HKI      IpLS  60760
1   KL      KLE      WuCW  50309
2   KL      KLW  CheungLW  52541
3   NT      NTE   HoEliza  48063
4   NT      NTW     ChuHD  84121

In [ ]:
e2019 = pd.read_csv("election2019.csv")
e2019=pd.DataFrame(e2019)
e2019

In [4]:
#Q1(b)
e2019.groupby(['area']).sum().sort_index(ascending=False)

       votes
area
NT    132184
KL    102850
HK     60760

In [5]:
#Q1(c)
e2019['Camp']=['Pan-democratic', 
               'Pro-establishment', 
               'Others', 
               'Pro-establishment',
               'Pan-democratic']
e2019

  area district candidate  votes               Camp
0   HK      HKI      IpLS  60760     Pan-democratic
1   KL      KLE      WuCW  50309  Pro-establishment
2   KL      KLW  CheungLW  52541             Others
3   NT      NTE   HoEliza  48063  Pro-establishment
4   NT      NTW     ChuHD  84121     Pan-democratic

In [8]:
e2019.groupby(['Camp']).mean().sort_index(ascending=True)

                     votes
Camp
Others             52541.0
Pan-democratic     72440.5
Pro-establishment  49186.0

In [ ]:
#Q2

In [10]:
sdf = pd.read_csv("sales.csv")
sdf.head()

,account number,name,sku,quantity,unit price,ext price,date,sku prefix
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,1/1/2018 7:21,B1
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,1/1/2018 10:00,S2
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,1/1/2018 13:24,B1
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,1/1/2018 15:05,S1
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,1/1/2018 23:26,S2

In [19]:
sdf.groupby(["sku prefix"])[["ext price"]].mean().round(2)

            ext price
sku prefix
B1            1347.96
S1            1339.49
S2            1348.83