In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

# Q1

In [2]:
cdf1 = pd.read_csv("lab0801a.csv")
print(cdf1)

         country country code  year
0      Argentina          ARG  2019
1      Australia          AUS  2019
2          India          IND  2019
3         Israel          ISR  2019
4   South Africa          ZAF  2019
5  United States          USA  2019
6        Uruguay          URY  2019

In [3]:
cdf2 = pd.read_csv("lab0801b.csv")
print(cdf2)

         country          POP           GDP
0      Argentina    37335.653  2.950722e+05
1      Australia    19053.186  5.418047e+05
2          India  1006300.297  1.728144e+06
3         Israel     6114.570  1.292539e+05
4         Malawi    11801.505  5.026222e+03
5   South Africa    45064.098  2.272424e+05
6  United States   282171.957  9.898700e+06

In [6]:
cdf3 = pd.merge(cdf1,cdf2, on='country',how='outer')
print(cdf3)

         country country code    year          POP           GDP
0      Argentina          ARG  2019.0    37335.653  2.950722e+05
1      Australia          AUS  2019.0    19053.186  5.418047e+05
2          India          IND  2019.0  1006300.297  1.728144e+06
3         Israel          ISR  2019.0     6114.570  1.292539e+05
4   South Africa          ZAF  2019.0    45064.098  2.272424e+05
5  United States          USA  2019.0   282171.957  9.898700e+06
6        Uruguay          URY  2019.0          NaN           NaN
7         Malawi          NaN     NaN    11801.505  5.026222e+03

In [7]:
cdf3a =cdf3.drop([0,6])
print(cdf3a)

         country country code    year          POP           GDP
1      Australia          AUS  2019.0    19053.186  5.418047e+05
2          India          IND  2019.0  1006300.297  1.728144e+06
3         Israel          ISR  2019.0     6114.570  1.292539e+05
4   South Africa          ZAF  2019.0    45064.098  2.272424e+05
5  United States          USA  2019.0   282171.957  9.898700e+06
7         Malawi          NaN     NaN    11801.505  5.026222e+03

In [8]:
cdf4 = pd.read_csv("lab0802.csv")
print(cdf4)

   country country code  year        POP           GDP
0   Malawi          MWI  2019  11801.505   5026.221784
1  Uruguay          URY  2019   3219.793  25255.961690

In [12]:
cdf5 = pd.merge(cdf3,cdf4, on='country',how='outer')
print(cdf5)

       country_x country code  year_x        POP_x         GDP_x country_y  \
0      Argentina          ARG  2019.0    37335.653  2.950722e+05       NaN
1      Australia          AUS  2019.0    19053.186  5.418047e+05       NaN
2          India          IND  2019.0  1006300.297  1.728144e+06       NaN
3         Israel          ISR  2019.0     6114.570  1.292539e+05       NaN
4   South Africa          ZAF  2019.0    45064.098  2.272424e+05       NaN
5  United States          USA  2019.0   282171.957  9.898700e+06       NaN
6        Uruguay          URY  2019.0          NaN           NaN   Uruguay
7         Malawi          NaN     NaN    11801.505  5.026222e+03       NaN
8            NaN          MWI     NaN          NaN           NaN    Malawi

   year_y      POP_y         GDP_y
0     NaN        NaN           NaN
1     NaN        NaN           NaN
2     NaN        NaN           NaN
3     NaN        NaN           NaN
4     NaN        NaN           NaN
5     NaN        NaN           NaN
6  2019.0   3219.793  25255.961690
7     NaN        NaN           NaN
8  2019.0  11801.505   5026.221784